---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro with Partytown">
  <main>
    <h1>Welcome to Astro</h1>
    <p>Your Google Tag Manager is now running in a web worker!</p>
    <button track-me> Track Custom Event </button>
  </main>
  <script type="text/partytown">
    document.querySelectorAll("button[track-me]").forEach((button) => {
      button.addEventListener("click", () => {
        dataLayer.push({
          event: "button_click",
        });
      });
    });
  </script>
</Layout>
